
<link rel="stylesheet" href="/stylesheets/table.css">	
<section>
    <div class="container">
        <div class="mt-5">
            <a href="/admin/add-user" class="btn btn-success" >Add user</a>
        </div>
        <table class="table mt-5" id="userTable">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
      <th><a href="/admin/edit-user/{{this._id}}" class="btn btn-primary" >Edit</a></th>
      <th><a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete {{this.Name}}')" >Delete</a></th>
      
    </tr>
    {{/each}}
  </tbody>
  
</table>
    </div>
</section>
<script>
  $(document).ready(function () {
    $('#userTable').DataTable();
});
</script>